/**
 * Typography - Title
 */

+prefix-classes('thet-')

	#thet-content-index

		.typography-title
			position relative
			min-height 170px
			display flex
			justify-content center
			align-items center
			font-size 1.35em
			cursor pointer
			word-break break-word
			hyphens auto

			span
				padding 40px 20px
				text-align center
				line-height 1.2
