/**
 * Typography
 */

+prefix-classes('thet-')

	#thet-content-index

		.typography
			border-bottom 1px solid var(--color_01)
			position relative
			transition background-color .15s $e_deceleration

			&:hover
				background-color var(--background_color_softer)

		.button-remove_typography
			padding 10px
			top 0
			right 0
			position absolute
			margin-left auto
			transition opacity .1s $e_deceleration
