/**
 * TypographyStyle - Range
 */

+prefix-classes('thet-')

	.control-container-line_height

		.range-value-indicator
			margin-right 1em
			min-width 20px
			max-width 20px

	.control-container-letter_spacing
	.control-container-font_size

		.range-value-indicator
			margin-right 1em
			min-width 35px
			max-width 35px
