/**
 * App - Fixes Material UI
 */

+prefix-classes('thet-')

	#thet-container

		input
			border none
			box-shadow none
			background none
			outline none
			transition none
			color inherit
			font-family inherit
			font-size inherit
			text-transform inherit
			font-style inherit
			letter-spacing inherit

			&::-webkit-input-placeholder
				color inherit
			&::-moz-placeholder
				color inherit
			&:-ms-input-placeholder
				color inherit
			&:-moz-placeholder
				color inherit

		button
			color inherit

		.control-container

			.material_ui-range-root
				min-width 100px
				flex 1

		.material_ui-range-thumb

			&:hover
				box-shadow 0px 0px 0px 9px var(--color_01)

			&.material_ui-range-focused
				box-shadow 0px 0px 0px 18px var(--color_01)

		.material_ui-range-thumb
			background-color var(--color_1)

		.material_ui-range-track
			background-color var(--color_07)

		.material_ui-select-container
			font-family inherit
			font-size inherit
			color inherit
			line-height inherit
			max-width 100%

			&:before
			&:after
				content normal

			svg
				color var(--color_07)

		.material_ui-select-select
			padding-right 1.7em
			padding-top 0
			padding-bottom 0

			&:focus
				background none

		.material_ui-textfield-label
			color var(--color_07)
			transition transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms

		.material_ui-select-placeholder
			color var(--color_04)

		.material_ui-textfield-label-focused
			color var(--color_085)

		.material_ui-textfield-input
			color inherit
			font-size inherit
			margin-bottom .5em
			max-width 90%

			&:before
				border-bottom-color var(--color_03)

			input
				border-radius 0
				line-height 2.2
				padding 0
				height auto

		.material_ui-textfield-input-focused

			&:after
				border-bottom-color var(--color_07)

	div.material_ui-select-menu
		min-width 150px!important // Needed
		box-shadow 0 1px 3px rgba(0,0,0,0.37)
		border-radius 2px

		li
			padding 10px 20px
			font-size 15px
