/**
 * App - Fixes Customizer
 */

#customize-control-control_thet
	margin -12px
	width calc(100% + 24px)
	margin-bottom 0

	*
		box-sizing border-box

	#thet-content-index
		margin-bottom 0

	button
		cursor pointer
		border none
		background none
		outline none

	#thet-button-open_info
	#thet-button-add_typography
		display inline-flex

body.wp-customizer
	> div[class^=MuiModal-root-]
	> div[class^=jss]
	> div#menu-
		z-index 999999!important
