/**
 * App
 */

@import "./_buttons"
@import "./_colors"
@import "./_fixes-customizer"
@import "./_fixes-material_ui"
@import "./_navigation"

+prefix-classes('thet-')

	#thet-container
		overflow-y auto
		font-size 15px

	.sticky
		overflow-y auto

	.logo
		display block
