/**
 * ButtonResetDefaults
 */

+prefix-classes('thet-')

	.button-reset_defaults
		position absolute

		#thet-container &
			padding 5px

		#thet-container &:focus
			background none
			box-shadow none

		#thet-single-typography &
			top 21px
			right 50px

		#thet-selector_groups &
			top 10px
			right 70px

			.is_predefined &
				right 45px
