/*
 * Fixes Editor
 */

#thet-container
	input
		border none
		box-shadow none
		background none
		outline none
		transition none
		color inherit
		font-family inherit
		font-size inherit
		text-transform inherit
		font-style inherit
		letter-spacing inherit

	button
		color inherit
