/*
 * Controls
 */

.thet-control-container
	display flex
	flex-direction row
	align-items center
	width 100%

	&.thet-control-font
		flex-direction column
		align-items initial

.thet-color-indicator
	white-space nowrap
	cursor pointer
	min-width 70px// Avoid the colorpicker from jumping when changing color
