/*
 * Popover
 */

.react-tiny-popover-container
	z-index 999999

	.chrome-picker
		box-shadow none!important
		border 1px solid
		border-radius 0!important

	> div > div:first-child
		margin-bottom 1px

		&:before
			content ''
			position absolute
			border-left 6px solid transparent
			border-right 6px solid transparent
			border-top 6px solid rgba(255,255,255,0.3)
			bottom -1px
			left -6px
			z-index -1

	.components-menu-group
		padding 7px
		max-width 250px
		box-sizing border-box
		background #0f1215
		color rgba(255,255,255,.8)
		fill rgba(255,255,255,.7)
		border 1px solid rgba(255,255,255,0.3)

	button
		color inherit
		box-shadow none
		outline none
		border none
		padding 8px
		background none
		text-align left
		display block
		cursor pointer

		&.components-button:disabled
			cursor default
			opacity .3

		&:focus
		&:hover
		&.components-menu-item__button:focus:not(:disabled):not([aria-disabled="true"])
		&.components-menu-item__button:hover:not(:disabled):not([aria-disabled="true"])
			color inherit
			background none
