/**
 * Typography - Predefined
 */

+prefix-classes('thet-')

	#thet-single-typography
		position relative

	.preview-selectors + .edit-selectors
		margin-top 10px

	#thet-single-description
		padding 0 20px 15px

	.description
		padding 10px 0

	#thet-single-description
	.description
		display block
		font-size .9em
		line-height 1.7
		color var(--color_06)

	#thet-single-namespace-title
		padding 20px 20px 12px
		display block
		background-color var(--background_color_softer)
		font-size .9em
		line-height 1.7
		font-weight 500

		~ #thet-single-title
			border-top 1px solid var(--color_01)

	#thet-single-description
		padding-bottom 20px
		background-color var(--background_color_softer)
		margin-top 0

	.is_predefined #thet-title
		padding-bottom 0

	div.namespace-info
		position absolute
		bottom 0
		right 0
		white-space nowrap
		max-width 100%

		span
			text-overflow ellipsis
			overflow hidden

	#thet-container

		div.no-is_active
			background var(--background_color_softer)

			span
			.visibility-icon
				opacity .3
