/*
 * Fixes Customizer
 */

#customize-control-control_thet
	margin -12px
	width calc(100% + 24px)
	margin-bottom 0

	*
		box-sizing border-box

	#thet-index
		margin-bottom 0

	#thet-single
		padding-bottom 10px

	button
		cursor pointer
		border none
		background none
		outline none

	#thet-button-add_typography
		display inline-flex

body.wp-customizer > div[class^=MuiModal-root-]
body.wp-customizer > div[class^=jss]
body.wp-customizer > div#menu-
	z-index 999999!important
