/*
 * Control Text Toggle
 */

.thet-control-text_toggle
	cursor pointer
	margin-right .7em
	white-space nowrap
	overflow hidden
	text-overflow ellipsis

	&::selection
		background-color transparent

	&.thet-disabled
		color var(--color_03)

	&.thet-disabled:hover
		color var(--color_06)

.thet-parent_value
	color var(--color_03)
	cursor default
