/*
 * Control React Select
 */

#thet-container
	.thet-control-react_select
		height 2.7em

		input
			color var(--color_085)!important

	.block-editor-block-icon
		width 24px
		height 24px

	.thet-setting-font_family
		display flex
		flex-direction row
		align-items center

		svg
			fill var(--color_07)
			margin-left -25px

	.thet__menu-list
		max-height 250px

	.thet__menu
		z-index 10
		border-radius 2px
		min-width 222px
		color var(--color_085)

	.thet__option--is-focused
		background-color var(--color_003)
	.thet__option--is-selected
		background-color var(--color_01)
		color var(--color_085)

	.thet__control
		border none
		min-height 0
		box-shadow none
		display inline-block
		background none

	.thet__value-container
		padding 0
		display block
		overflow visible

	.thet__indicators
		display none

	.thet__indicator-separator
		display none

	.thet__single-value
	.thet__placeholder
		position relative
		transform none
		display block
		margin 0
		color var(--color_085)
		max-width none
		padding-right 30px
		cursor pointer

		+ div
			position absolute
			z-index -1

	.thet__placeholder
		color var(--color_03)

	input
		box-shadow none
