/*
 * Selectors
 */

#thet-button-add_selector_root
	background-color var(--color_01)
	width 100%
	padding 0 1em

.thet-selector
	display flex
	border-top 1px dotted var(--color_02)
	transition background-color .1s $e_standard

	.thet-is_open &
		position relative
		padding 10px 20px 20px
		flex-direction column
		margin 0 -20px
		width calc(100% + 40px)

		&:last-child
			margin-bottom 50px

		&:hover
			background-color var(--color_005)
			border-radius 1px

	.thet-is_closed &
		align-items center

	.thet-button-add_selector + &
		margin-top 20px

.thet-selector-block-separator
	margin 0 10px
	color var(--color_04)

	+ span
		overflow hidden
		text-overflow ellipsis
		white-space nowrap

.thet-selector-title
	text-overflow ellipsis
	overflow hidden
	white-space nowrap

	&:selection
		background-color transparent

.thet-block_no_icon
	min-width 15px
	width 15px
	height 15px
	background-color var(--color_085)
	border-radius 1px

.thet-selector-header
	display flex
	justify-content space-between
	align-items center

.thet-button-remove_selector
	padding 5px
	line-height 0
	position absolute
	top 15px
	right 15px

	svg
		width 20px
		height 20px

	#thet-container &:focus
		background none
		box-shadow none

.thet-selector_type + .thet-control-react_select
	margin-left -2px

#thet-button-add_selector_group
	margin-bottom 20px

#thet-button-add_selector_group
.thet-button-add_selector
	font-size inherit
	line-height 3.2
	padding 0 10px
	font-size .86em
	text-transform uppercase
	font-weight 500
	box-shadow inset 0 0 0 1px var(--color_03)

	#thet-container &:hover
	#thet-container &:focus
		box-shadow inset 0 0 0 1px var(--color_06)
		background none

.thet-selector-block
	width 100%
	align-items center
	transition background-color .1s $e_standard
	height 2.7em
	display flex
	cursor pointer

	&.thet-react_select-menu-item
		span
			text-overflow ellipsis
			white-space nowrap
			overflow hidden

		&:hover
			background-color var(--color_01)

.thet-react_select-menu-item.thet-selector-block
	padding 0 8px

.thet-selector-block-icon
	height 20px
	width 20px
	align-items center
	justify-content center
	min-width 20px
	display flex
	margin-right 8px

	svg
		width 100%
		height 100%
		fill var(--color_07)

.thet-selector-block
	white-space nowrap

.thet-block_selector-element
	display flex
	flex-direction column
	padding-left 26px
	border-left 1px solid var(--color_03)

.thet-selector-parent ~ div
	border-left 1px solid var(--color_04)
	padding-left 15px

.thet-message
	font-style italic
	background-color var(--background_color)
	font-size .95em
	line-height 2
	padding 10px
	margin-bottom 10px
	color var(--color_07)
	border 1px dashed var(--color_02)
	display block

.thet-selector-new
	animation fade_in_bg_selector 1s $e_standard


@keyframes fade_in_bg_selector {
	0% {
		background-color var(--color_01)
		transform translateZ(0)
	}
	100% {
		background-color transparent
		transform translateZ(0)
	}
}
