/*
 * View Single
 */

.thet-navigation-message
	padding 10px

#thet-button-undo_single
#thet-button-save_typography
.thet-navigation-message
	margin-left auto

#thet-single
	overflow hidden
	line-height 2.7
	padding-bottom 200px
	font-size 15px
	position relative

.thet-font-container
	max-width 100%

.thet-single-visibility-icon
	position absolute
	top 5px
	right 5px
	padding 5px
	width 20px
	height 20px
	display flex
	align-items center
	justify-content center

.thet-single-visibility-message
	top 20px
	right 7px
	margin-left 30px
