/**
 * Typographies
 */

#thet-content-index
	padding-bottom 150px

.thet-index-message
	padding 20px

#thet-message-no_results
#thet-message-loading
	min-height 7em

	span
		line-height 1.5em
		font-size .9em
		color var(--color_085)

#thet-button-add_first_typography
	margin-top 20px

#thet-button-load_more
	width 100%
	display block
	line-height 7
	padding 0 20px
	transition background-color .15s $e_deceleration

	&:hover
	&:focus
		background-color var(--background_color_softer)
