/**
 * Navigation
 */

+prefix-classes('thet-')

	#thet-navigation-updated_message
		margin-right 10px
		font-size .9em

	#thet-button-go_back
		+ button
		+ span
			margin-left auto

	#thet-container

		.button-navigation
			padding 0 10px
			height 100%

			&.button-text
				font-weight 600
				align-items center
